
.advantages {
  //margin: 45px 0 85px 0;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: @bg-darkgrey;
  font-family: @foot-font;

  text-align: left;
  text-transform: none;

  background-color: @bg-white;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;

  .wrapper();
}

.advantages__title {
  font-family: @font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: @bg-alblack;

  margin: 0;
  padding: 19px 0 0 0;
  //text-transform: none;
}

.advantages__list {
  .list-reset();
  padding: 28px 0 42px 0;

  width: 100%;
}

.advantages__item {
  margin: 0 0 20px 0;
  padding: 2px 5px 4px 80px;

  color: @bg-alblack;
  background-color: @bg-white;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: @bg-darkgrey;
  font-family: @foot-font;
}

@media (max-width: @mobile-width-only) {
  .advantages__item:last-of-type {
    margin-bottom: 0;
  }

  .advantages__list {
    margin: 0 0 1180px 0;
  }
}

@media @tablet-width {
  .advantages__wrapper {
    width: 768px;
    margin: 0 auto;

    .wrapper();
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
    margin: 30px 0 0 0;
    //padding: 80px 60px 60px 50px;
  }

  .advantages__description {
    margin: 0;
    font-size: 36px;
    line-height: 37px;
    color: @bg-darkgrey;
    font-family: @foot-font;
  }
}

@media @desktop-width {
  .advantages__wrapper {
    width: 1300px;
    margin: 0 auto;

    .wrapper();
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: nowrap;
  }

  .advantages__item {
    width: 245px;
    margin: 80px 40px 80px 40px;
    //padding: 80px 50px 55px 50px;
  }

  .advantages__description {
    margin: 0;
    font-size: 36px;
    line-height: 37px;
    color: @bg-darkgrey;
    font-family: @foot-font;
  }
}
