.button-selection-main {
  margin: 0;
  padding: 15px 73px;

  display: inline-block;
  vertical-align: top;

  //min-height: 40px;
  //min-width: 280px;

  color: @bg-white;
  background-color: @bg-lightgreen;

  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-align: center;

  box-sizing: border-box;
  border: 0;

  outline-style: none;
}

@media @tablet-width {
  .button-selection-main {
    //min-height: 52px;
    //min-width: 245px;

    margin: 0;
    padding: 16px 28px 16px 26px;

    font-family: @font;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

@media @desktop-width {
  .button-selection-main {
    //min-height: 52px;
    //min-width: 245px;

    margin: 0;
    padding: 16px 28px 16px 26px;

    font-family: @font;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}
