.button-selection {
  margin: 0;
  padding: 5px 15px 5px 0;

  display: inline-block;
  vertical-align: top;

  min-height: 23px;
  min-width: 132px;

  color: @bg-alblack;
  background-color: @bg-lightgrey;

  font-family: @font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  border: none;
  outline-style: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";

    top: 8px;
    left: 97px;

    width: 24px;
    height: 11px;
    vertical-align: top;

    background-image: url("../img/icon-right-arrow-long.svg");
  }

  &::after {
    display: block;
  }

  &:hover {
    color: @bg-alblack;

    &::before {
      display: none;
    }

    &::after {
      display: inline-block;
      vertical-align: top;

      position: absolute;
      content: "";

      top: 8px;
      left: 97px;

      width: 32px;
      height: 11px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

@media @tablet-width {
  .button-selection {
    padding: 5px 60px 5px 0;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 10px;
      left: 129px;
    }

    &:hover {
      &::after {
        top: 10px;
        left: 129px;
      }
    }
  }
}

@media @desktop-width {
  .button-selection {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 10px;
      left: 128px;
    }

    &:hover {
      &::after {
        top: 10px;
        left: 128px;
      }
    }
  }
}
