.button-selection {
  margin: 0;
  //padding: 0;
  padding: 19px 10px 20px 0;

  display: inline-block;
  vertical-align: top;

  min-height: 23px;
  min-width: 132px;

  color: @bg-alblack;
  background-color: @bg-lightgrey;

  font-family: @font;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
  //text-align: center;

  //box-sizing: border-box;
  border: 0;
  //border-top: 1px solid #d9d9d9;

  outline-style: none;

  &:hover {
    color: @bg-alblack;
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (max-width: @mobile-width-only) {
  .button-selection {
    border-top: 1px solid #d9d9d9;
  }
}

@media @tablet-width {
  .button-selection {
    font-size: 20px;
    line-height: 20px;

    padding: 19px 10px 59px 0;
  }
}

@media @desktop-width {
  .button-selection {
    font-size: 20px;
    line-height: 20px;
  }
}
