@media @mobile-width-only {
  .cat-results__item--before,
  .cat-results__item--after {
    margin: 0;
    padding: 0;
    display: none;
  }

  .cat-results__switch {
    width: 35px;
    height: 6px;
    border-radius: 3px;

    background: @bg-lightgreen;
    position: absolute;
    z-index: 1;

    display: none;
  }

  .cat-results__switch--before {
    left: 50%;
    margin-left: -35px;
    margin-top: -1.5px;
  }

  .cat-results__switch--after {
    right: 50%;
    margin-right: -35px;
    margin-top: -1.4px;
  }

  .cat-results__item--show,
  .cat-results__switch--show {
    display: block;
  }
}

.cat-results {
  display: flex;
  width: 320px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.cat-results__item {
  position: relative;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

.cat-results__option {
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  margin: -4px 0 0 0;
  justify-content: center;
}

.cat-results__img {
  position: absolute;
  max-width: none;

  &--before {
    top: 0;
    left: 0;
  }

  &--after {
    top: 0;
    right: 0;
  }
}

.cat-results__button {
  margin-right: 0;
  position: relative;
}

.cat-results__range-controls {
  width: 84px;
  height: 17px;
  padding: 0;
  margin: 0 18px 0 18px;

  position: relative;
}

.cat-results__scale {
  width: 84px;
  height: 14px;

  background: @bg-white;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
}

@media @tablet-width {
  .cat-results__item {
    display: block;

    &--before {
      width: 50%;
    }

    &--after {
      width: 50%;
    }
  }

  .cat-results {
    display: flex;

    width: 690px;
    height: 517px;
    margin-bottom: 0;
  }

  .cat-results__img {
    &--before {
      left: 7px;
    }

    &--after {
      right: -7px;
    }
  }

  .cat-results__scale {
    width: 428px;
    height: 6px;

    background: #dcdcdc;
    border-radius: 2.5px;
  }

  .cat-results__option {
    width: 100%;
    min-height: 462px;
    padding: 363px 0 67px 0;

    margin-top: -348px;
    align-items: center;

    background: linear-gradient(to right, @bg-lightgrey 50%, #eaeaea 50%);
  }

  .cat-results__range-controls {
    width: 428px;
    height: 6px;

    margin: 0 19px 0 19px;
    position: relative;
  }

  .cat-results__button:first-of-type {
    margin-right: 6px;
  }

  .cat-results__toggle {
    position: absolute;
    top: -15px;
    left: 46%;

    width: 34px;
    height: 34px;
    padding: 0;

    background-color: @bg-white;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.25);

    background-image: radial-gradient(circle at center, @bg-lightgreen 21%, transparent 21%);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid @bg-lightgreen;
    }
  }
}

@media @desktop-width {
  .cat-results {
    position: absolute;

    left: -47px;
    top: -260px;
  }

  .cat-results__item {
    &--before {
      width: 372px;
    }

    &--after {
      width: 318px;
    }
  }

  .cat-results__option {
    margin-top: -147px;
    padding-top: 360px;

    background: linear-gradient(to right, #f2f2f2 325px, #eaeaea 325px);
  }

  .cat-results__range-controls {
    margin: 0 20px 0 20px;
  }

  .cat-results__button:first-of-type {
    margin-right: 5px;
  }
}
