.contact {
  padding-top: 65px;

  width: 230px;

  .wrapper();

  display: flex;
  flex-direction: column;

  @media @tablet-width-only {
    width: 768px;

    padding-left: 72px;
    padding-right: 65px;
  }

  @media @tablet-width {
    padding-top: 89px;
  }

  @media @desktop-width {
    width: 1300px;

    flex-direction: row;
    justify-content: space-between;
  }
}

.contact__item {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0 0 14px 0;

  font-size: 16px;
  line-height: 18px;

  font-family: @font;
  font-weight: 400;

  @media @tablet-width {
    font-size: 20px;
    line-height: 20px;

    margin: 0 0 20px 0;
  }

  @media @desktop-width {
    width: 570px;
  }


  span {
    display: block;
    height: 18px;

    margin: 0 10px 0 0;
    padding: 0;

    color: @bg-black;
    flex-shrink: 0;

    position: relative;

    @media @tablet-width {
      margin: 0 16px 0 0;
    }

    @media @desktop-width {
      margin: 0 22px 4px 0;
    }
  }

  &:first-of-type span {
    width: 52px;

    @media @tablet-width {
      width: 66px;

      margin-top: -5px;
    }

    @media @desktop-width {
      width: 64px;
    }
  }

  &:last-of-type span {
    @media @tablet-width {
      margin: -2px 15px 0 -2px;
    }
  }
}

.contact__name {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  position: relative;
}

.contact__specific {
  width: 100%;

  outline-style: none;
  color: @bg-darkgrey;

  background-color: transparent;
  border: 1px solid @bg-verylightgrey;
  text-transform: uppercase;

  padding: 12px 15px 13px 15px;

  &:active,
  &:focus {
    outline-style: none;
    border: 2px solid @bg-darkgrey;

    padding: 11px 14px 12px 14px;
  }

  &--error {
    outline-style: none;
    border: 2px solid @bg-error;

    padding: 11px 14px 12px 14px;
  }
}

.contact__icon {
  top: 0;
  right: 50px;

  position: absolute;

  font-size: 0;
  color: @bg-black;

  &--email {
    top: 15px;
    right: 15px;

    width: 17px;
    height: 13px;

    @media @tablet-width {
      top: 18px;
      right: 22px;
    }

    @media @desktop-width {
      top: 18px;
      right: 20px;
    }
  }

  &--phone {
    top: 13px;
    right: 13px;

    width: 20px;
    height: 20px;

    @media @tablet-width {
      top: 18px;
      right: 18px;
    }

    @media @desktop-width {
      top: 15px;
      right: 20px;
    }
  }
}

.contact__specific:focus + .contact__icon,
.contact__specific:active + .contact__icon {
  fill: @bg-lightgreen;
}

.contact__specific--error + .contact__icon {
  fill: @bg-error;
}

.contact__item:first-of-type {
  .contact__specific {
    @media @tablet-width {

      padding: 12px 39px 12px 17px;

      &:active,
      &:focus,
      &--error {
        padding: 11px 38px 11px 16px;
      }
    }

    @media @desktop-width {
      padding: 12px 40px 13px 16px;

      &:active,
      &:focus,
      &--error {
        padding: 11px 39px 12px 15px;
      }
    }
  }
}

.contact__item:last-of-type {
  .contact__specific {
    @media @tablet-width {
      padding: 13px 40px 14px 19px;

      &:active,
      &:focus,
      &--error {
        padding: 12px 39px 13px 18px;
      }
    }

    @media @desktop-width {
      background-position: 434px center;
    }
  }
}
