.logo {
  margin: 0;
  padding: 0;

  background-color: @bg-white;

  //width: 192px;
  //height: 38px;
  //display: flex;
  //justify-content: space-between;
}

/*
@media @tablet-width {
  .logo {
    width: 173px;
    height: 58px;
  }
}

@media @desktop-width {
  .logo {
    width: 202px;
    height: 59px;
  }
}
*/
