
.main-nav {
  margin: 0;
  padding: 0;

  display: flex;

  flex-direction: column;
  //justify-content: space-between;
}

/*
.main-nav__wrapper {
  .wrapper();
}
*/

@media (max-width: @mobile-width-only) {
  .main-nav__wrapper {
    .wrapper();
  }
}

/*
@media @tablet-width {
  .main-nav {
    width: 444px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
*/
