
.main-nav {
  margin: 0;
  padding: 0;

  z-index: 1;
}

.main-nav__list {
  .list-reset();
}

.main-nav__button {
  position: absolute;
  top: -50px;
  right: 12px;

  z-index: 2;

  width: 40px;
  height: 30px;

  cursor: pointer;
  border: none;

  background-color: transparent;
  outline-style: none;
}

.main-nav--closed .main-nav__button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;

  width: 24px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__button {
  top: -50px;
  right: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 12px;

    width: 18px;
    height: 18px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;

    background-color: transparent;
  }
}

@media @mobile-width-only {
  .main-nav {
    position: relative;

    width: 320px;
    margin: 0 auto;

    background-color: @bg-white;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__button {
    display: none;
  }

  .main-nav--nojs .main-nav {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media @tablet-width {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__button {
    display: none;
  }
}

@media @tablet-width-only {
  .main-nav__list {
    margin-top: -1px;
  }
}

@media @desktop-width {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__button {
    display: none;
  }
}
