.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding-bottom: 26px;
  padding-top: 26px;

  font-family: @font;
  font-size: 20px;

  //font-weight: 500;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;

  color: @bg-alblack;
  background-color: @bg-white;
}

.page-header__wrapper {
  .wrapper();
}

/*
.page-header__logo {
  order: 0;
}

.page-header__main-nav {
  order: 0;
}

.page-header__button-menu {
  order: 0;
}
*/

.page-header__logo img {
  width: 192px;
  height: 38px;
}

@media (max-width: @mobile-width-only) {
  .page-header {
    flex-direction: column;
  }
}


@media @tablet-width {
/*
  .page-header {

  }
*/

  .page-header__logo img {
    width: 173px;
    height: 58px;
  }
}

@media @desktop-width {

  .page-header {
    background-color: @bg-white;
    background-position: right top;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}
