.page-footer {
  margin: 0;
  padding: 0;

  font-family: @foot-font;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  color: @bg-darkgrey;
  background-color: @bg-lightgrey;
}

.page-footer__wrapper {
  .wrapper();
}

.page-footer__logo img {
  width: 128px;
  height: 24px;
}

@media @tablet-width {
  .page-footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media @desktop-width {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
