
.page-main {
  padding: 0;
  margin: 0;
}

.page-main-header {
  margin: 0 auto;
}

.page-main-header__wrapper {
  width: 320px;

  .wrapper();

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.page-main-header__title {
  margin: 0 0 25px 0;
  padding: 0;

  font-family: @font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.page-main-header__description {
  margin: 0 0 28px 0;
  padding: 0;

  font-family: @font;
  font-size: 14px;
  line-height: 14px;
}

.page-main-header__img {
  margin: 0;
  padding: 0;
}

@media @mobile-width-only {
  .page-main-header {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: center 0;

    margin: 0 auto;
    background-size: 100% 305px;
    background-color: @bg-lightgreen;
    background-repeat: no-repeat;

    text-align: center;
    color: @bg-white;

    @media @retina {
      background: url("../img/index-background-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% 305px;

      background-position: center 0;
      margin: 0 auto;
    }
    padding-top: 28px;
  }

  .page-main-header__button {
    width: 100%;
  }
}

@media @tablet-width {
  .page-main {
    margin: 57px 0 0 0;
  }

  .page-main-header {
    background-color: @bg-white;
    background-image: none;

    text-align: left;
    color: @bg-alblack;

    margin: 0 auto;
  }

  .page-main-header__wrapper {
    width: 768px;

    align-items: flex-start;
  }

  .page-main-header__title {
    margin: 0 0 42px 87px;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main-header__description {
    margin: 0 0 19px 88px;

    font-size: 20px;
    line-height: 20px;
  }

  .page-main-header__img {
    margin: 0;
    padding: 0;
  }

  @media @tablet-width-only {
    .page-main-header__button {
      position: absolute;
      top: 365px;
      right: 404px;
    }
  }
}

@media @desktop-width {
  .page-main {
    margin: 107px 0 0 0;
  }

  .page-main-header {
    margin-bottom: 268px;
  }

  .page-main-header--index::before {
    content: "";
    position: absolute;
    background: url("../img/index-background-desktop@1x.jpg");

    top: 0;
    left: 50%;

    width: 720px;
    height: 696px;

    background-position: left top;
    background-color: @bg-lightgreen;

    background-repeat: no-repeat;

    @media @retina {
      background: @bg-lightgreen url("../img/index-background-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }

  .page-main-header__wrapper {
    width: 1300px;

    padding-left: 121px;
    padding-right: 121px;

    align-items: flex-start;
  }

  .page-main-header__title {
    margin: 0 0 42px 0;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main-header__description {
    margin: 0 0 52px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .page-main-header__img {
    position: absolute;
    top: 141px;
    //right: 399px;
    right: 25.2%;
  }

  .page-main-header__button {
    margin: 0;
  }
}
