.page-footer {
  margin: 0 auto;
  padding: 0;

  font-family: @foot-font;
  font-size: 16px;
  line-height: 16px;

  color: @bg-darkgrey;
  background-color: @bg-lightgrey;
}

.page-footer__wrapper {
  .wrapper();

  width: 320px;
}

@media @mobile-width-only {
  .page-footer__logo {
    padding: 39px 0 28px 0;

    width: 100%;
    text-align: center;

    border-bottom: 1px solid #d9d9d9;
  }

  .page-footer__social {
    padding: 22px 0 13px 0;
    margin: 0 0 0 12px;
    max-width: 250px;
  }

  .page-footer__copyright {
    padding: 21px 0 30px 0;
    width: 100%;

    border-top: 1px solid #d9d9d9;
  }
}

@media @tablet-width {
  .page-footer {
    padding: 41px 0 60px 0;
  }

  .page-footer__wrapper {
    width: 768px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-footer__logo {
    margin: 21px 10px 0 1px;
  }

  .page-footer__social {
    padding: 0;
    margin: 0 0 0 18px;
  }

  .page-footer__copyright {
    margin: 15px 0 0 10px;
  }
}

@media @desktop-width {
  .page-footer {
    padding: 53px 0 60px 0;
  }

  .page-footer__wrapper {
    width: 1300px;
  }

  .page-footer__social {
    padding: 0;
  }

  .page-footer__copyright {
    margin: 18px 0 0 10px;
  }
}
