.selection {
  margin: 0;
  padding: 0;

  font-family: @font;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-align: center;

  color: @bg-alblack;
  background-color: @bg-white;
}

.selection__list {
  .no-list-style();
}
