.selection {
  margin: 0 0 17px 0;
  padding: 0;

  font-family: @foot-font;
  font-size: 14px;
  line-height: 18px;

  color: @bg-darkgrey;
  background-color: @bg-white;
}

.selection__list {
  .list-reset();

  width: 100%;
}

.selection__wrapper {
  width: 320px;

  .wrapper();
}

.selection__item {
  margin: 0 0 20px 0;
  padding: 30px 20px 0 20px;

  background-color: @bg-lightgrey;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";

    top: 23.5px;
    left: 22px;
    background: @bg-lightgreen;

    width: 51px;
    height: 51px;
    border-radius: 50%;
  }
}

.selection__item--slimming::after {
  position: absolute;
  content: "";

  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.selection__item--fattening::after {
  position: absolute;
  content: "";

  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.selection__title-item {
  margin: 0 0 30px 71px;
  padding: 0;

  font-size: 24px;
  line-height: 37px;

  font-family: @font;
  font-weight: 400;
  text-transform: uppercase;
}

.selection__description {
  margin: 0;
  padding: 0 0 21px 0;
  text-transform: none;
}

.selection__button {
  margin: 14px 0 17px 0;
}

@media @mobile-width-only {
  .selection {
    margin-top: 22px;
  }

  .selection__description {
    border-bottom: 1px solid #d9d9d9;
  }
}

@media @tablet-width {
  .selection {
    margin: -3px 0 44px 0;
  }

  .selection__wrapper {
    width: 768px;
  }

  .selection__item {
    margin: 0 0 30px 0;
    padding: 76px 60px 57px 53px;

    &::before {
      top: 94px;
      left: 447px;
      width: 200px;
      height: 200px;
    }
  }

  .selection__item--slimming::after {
    top: 80px;
    left: 475px;

    width: 141px;
    height: 194px;
  }

  .selection__item--fattening::after {
    top: 135px;
    left: 412px;

    width: 268px;
    height: 113px;
  }

  .selection__title-item {
    margin: 0 0 25px 0;
    padding: 0;

    font-size: 36px;
    line-height: 37px;

    font-family: @font;
    font-weight: 400;
    text-transform: uppercase;
  }

  .selection__description {
    padding: 0 220px 37px 0;
    margin: 0 0 14px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .selection__button {
    margin: 0;
  }
}

@media @tablet-width-only {
  .selection__item:last-child .selection__description {
    padding: 0 255px 38px 0;
  }
}

@media @desktop-width {
  .selection {
    margin: 0 0 73px 0;
  }

  .selection__wrapper {
    width: 1300px;
  }

  .selection__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .selection__item {
    width: 570px;
    margin: 0;
    padding: 76px 50px 57px 53px;

    &:nth-child(2n) {
      margin-left: 0;
    }

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  .selection__item--slimming::after {
    top: 41px;
    left: 66px;

    width: 71px;
    height: 97px;
  }

  .selection__item--fattening::after {
    top: 69px;
    left: 34px;

    width: 134px;
    height: 57px;
  }

  .selection__title-item {
    margin: 0 0 74px 0;
    padding: 0 0 0 162px;

    font-size: 36px;
    line-height: 37px;

    font-family: @font;
    font-weight: 400;
    text-transform: uppercase;
  }

  .selection__description {
    margin: 0 0 12px 0;
    padding: 0;
    text-transform: none;

    font-size: 16px;
    line-height: 24px;
  }

  .selection__button {
    margin: 14px 0 0 0;
  }
}
