.site-list {
  .no-list-style();

  font-family: @font;
  font-size: 20px;

  //font-weight: 500;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;

  color: @bg-alblack;
  background-color: @bg-white;
}
