.slider {
  padding: 0;
  margin: 0 auto;

  background-color: @bg-lightgrey;
}

.slider__wrapper {
  .wrapper();

  width: 320px;
  padding: 17px 0 29px 0;
}

.slider__title {
  font-size: 36px;
  line-height: 60px;
  color: @bg-alblack;
  font-family: @font;
  font-weight: 400;
  text-transform: none;

  width: 320px;
  min-width: 320px;
  padding: 0 20px 0 20px;
  margin: 0 auto 24px auto;
}

.slider__cat-information {
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.slider__wrapper-cat-results {
  text-align: center;
}

@media @tablet-width {
  .slider {
    border-top: 1px solid #cdcdcd;

    background: linear-gradient(to right, @bg-lightgrey 50%, #eaeaea 50%);
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 50%;
      height: 100%;

      background: linear-gradient(to bottom, @bg-white 57.2%, @bg-lightgrey 57.2%, @bg-lightgrey 100%);
      z-index: 0;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
      height: 100%;

      background: linear-gradient(to bottom, @bg-white 57.2%, #eaeaea 57.2%, #eaeaea 100%);
      z-index: 0;
    }
  }

  .slider__wrapper {
    width: 768px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 41px;

    background-color: #ffffff;
    z-index: 100;
  }

  .slider__title {
    font-size: 60px;
    line-height: 60px;

    width: 768px;
    min-width: 768px;
    padding: 0 30px 0 30px;
    margin: 0 auto 64px auto;
    z-index: 100;
  }

  .slider__cat-information {
    padding: 0 30px 0 30px;
    margin: 0 auto 55px auto;
    z-index: 100;
  }

  .slider__wrapper-cat-results {
    z-index: 100;
  }
}

@media @desktop-width {
  .slider {
    border: none;

    &::before {
      background: linear-gradient(to bottom, @bg-white 31.8%, @bg-lightgrey 31.8%, @bg-lightgrey 100%);
    }

    &::after {
      background: linear-gradient(to bottom, @bg-white 31.8%, #eaeaea 31.8%, #eaeaea 100%);
    }
  }

  .slider__wrapper {
    width: 1300px;
    flex-direction: row;

    padding-top: 82px;
    background: linear-gradient(to bottom, #ffffff 31.8%, #f2f2f2 31.8%, #f2f2f2 100%);
  }

  .slider__title {
    font-size: 60px;
    line-height: 60px;

    width: 1300px;
    min-width: 1300px;
    padding: 0 40px 0 40px;
    margin: 0 auto 146px auto;
  }

  .slider__cat-information {
    margin: 0 auto 0 10px;
  }

  .slider__wrapper-cat-results {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    width: 50%;

    padding-top: 75px;
  }
}
