.social {
  color: @bg-darkgrey;
  background-color: @bg-lightgrey;
  font-size: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
  align-items: center;
}

.social__link-image--tablet {
  display: none;
}

.social__item {
  .list-reset();

  margin-right: 36px;

  &:last-child {
    margin-right: 0;
    margin-left: 6px;
  }
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
}

.social__link--instagram {
  width: 16px;
  height: 16px;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
}

.social__link-image,
.social__link-image--tablet {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #c8e0ba;
  }
}

@media @tablet-width {
  .social {
    max-width: 250px;

    justify-content: flex-start;
  }

  .social__link-image {
    display: none;
  }

  .social__link-image--tablet {
    display: block;
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }

  .social__item {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@media @desktop-width {
  .social {
    max-width: 600px;
  }
}
