.social {
  margin: 0;
  padding: 0;

  color: @bg-darkgrey;
  background-color: @bg-lightgrey;
}

.social__list {
  .list-reset();

  width: 130px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media @tablet-width {
  .social-list {
    width: 130px;
  }
}

@media @desktop-width {
  .social-list {
    width: 130px;
  }
}
